<div class="profile-page">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
   <% end %>
 <div class="container">
   <div class="row">
 	    <h1 class="profile-top text-center">
 		   <% if @user == current_user %>
 		   マイページ
 		   <% else %>
 		   <%= @user.name %>さんのプロフィール
 		   <% end %>
 	    </h1>
   </div>

     <div class="row adjustment text-center">
        <div class="profile_picture">
 	       <%= attachment_image_tag @user, :profile_image, size:"210x210", format: "jpeg", class: "img-circle", fallback: "no_image.jpg" %>
       </div>
        <div class="adjustment profile_introduction">
          <div class="panel panel-warning">
	         <div class="panel-heading introduction-space">
		       自己紹介
	         </div>
	         <div class="panel-body">
		          <%= @user.introduction %>
	         </div>
          </div>
       </div>

       <%# if @user == current_user %>
          <!-- <div class="destroy-button center-block"> -->
         <%# if @user == current_user %>
           <%#=link_to "退会する",users_hide_path,method: :put, "data-confirm"=>"本当に退会しますか?", class:"btn btn-danger" %>
       <%# end %>
          <!-- </div> -->
       <%# end %>
     </div>

     <% if user_signed_in? %>
      <%= current_user.admin? %>
      <%= @user.id %>
      <%= current_user.id %>
        <% if current_user.admin == false && @user.id == current_user.id %>
           <%= link_to "退会", users_hide_path(@user.id), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
        <% elsif current_user.admin? && @user.id != current_user.id %>
           <%= link_to "強制退会", users_hide_path(@user.id), method: :put, "data-confirm" => "本当に退会させますか？", class: "btn btn-danger" %>
        <% end %>
     <% end %>

     <div class="row profile_buttons_space text-center">
  	    <%# if @user == current_user %>
        <% if current_user == @user || current_user.admin? %>
          <div class="button_areas">
 	           <%= link_to "プロフィール編集",edit_user_path(@user.id),class:"btn btn-info btn-block" %>
          </div>
 	      <% end %>
	      <% if @user == current_user %>
        <%# if current_user == @user || current_user.admin? %>
           <div class="button_areas">
	           <%= link_to "新規投稿",new_post_path,class:"btn btn-info  btn-block" %>
          </div>
	     <% end %>

       <%# if @user == current_user %>
           <%#=link_to "退会する",users_hide_path,method: :put, "data-confirm"=>"本当に退会しますか?", class:"btn btn-info btn-block" %>
       <%# end %>
       <div class="button_areas">
  	     <%= link_to "投稿一覧",user_path(@user.id),class:"btn btn-info  btn-block" %>
       </div>
       <div class="button_areas">
         <%= link_to "いいね一覧",user_favorite_path(@user.id),class:"btn btn-info  btn-block" %>
       </div>
    </div>
  </div>
</div>

