<div class="user-show-body">
  <div class="container">
   <div class="row">
 	 <h3 class="text-center">
 		<%= @user.name %>様の投稿一覧
 	 </h3>
   </div>

   <div class="row">
   	<!-- <div class="text-left"> -->
	 <!-- <div class="col-xs-3 text-center"> -->
		<%#= attachment_image_tag @user, :profile_image, size: "200x200",
	    format: 'jpeg', class: "img-circle", fallback: "no_image.jpg" %>
	 <!-- </div> -->
	 <!-- <div class="col-xs-8"> -->
	<!-- </div> -->
	<div class="text-center">
	  <table class="table table-hover table-invrese">
	    <thead>
		   <tr>
			 <th>地域名</th>
			 <th>タイトル</th>
			 <th>投稿日時</th>
			 <th></th>
		    </tr>
		</thead>

		<tbody>
		 <% @posts.each do |post| %>
		    <tr>
			  <td>
			   <%= post.area.name %>
			  </td>
			  <td>
			  	<%= post.title %>
			  </td>
			  <td>
			  	<%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
			  </td>
			  <td>
			   <%= link_to "詳細" ,post_path(post.id) %>
			  </td>
			</tr>
		  <% end %>
		</tbody>
	  </table>
     <!-- </div> -->
     <!-- <div class="col-xs-1"></div> -->
   </div>

   <div class="row">
     <div class="text-cente">
  	  <%= paginate @posts %>
     </div>
  </div>
 </div>
</div>
</div>

