<div class="post-index-body">
  <div class="container">
    <div class="row">
 	    <div class="text-center">
 	        <h3><i class="far fa-newspaper icon"></i></h3>
        </div>
    </div>
    <div class="row text-right">
  		    <%= form_tag(posts_path, :method => 'get') do %>
            <%= select_tag(:sort, options_for_select([["評価の低い順","low_star"],["評価の高い順","high_star"],["いいねの少ない順","low_ranking"],["いいねの多い順","high_ranking"],["投稿の古い順","old"],["投稿の新しい順","new"]]))%>
            <%= submit_tag '検索' %>
            <% end %>
    </div>
    <div class="row text-center">
	        <table class="table table-hover table-invrese">
	            <thead>
		            <tr>
			            <th>投稿者</th>
			            <th>地域名</th>
			            <th>タイトル</th>
			            <th><i class="far fa-clock"></i></th>
			            <th><i class="fas fa-heart"></i></th>
			            <th><i class="far fa-comment-dots"></i></th>
			            <th></th>
		            </tr>
		        </thead>

		        <tbody>
		          <% @posts.each do |post| %>
		            <tr>
			            <td>
			               <%=link_to user_profile_path(post.user.id) do %>
			               <%= attachment_image_tag post.user, :profile_image, size: "50x50",
			                    format: 'jpeg', fallback: "no_image.jpg" %><br>
			                <%= post.user.name %>
			                <% end %>
			            </td>
			            <td>
			                <%= post.area.name %>
			            </td>
			            <td>
			  	            <%= post.title %>
			            </td>
			            <td>
			  	             <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
			            </td>
			            <td>
			  	            <%= post.favorites.count %>
			            </td>
			            <td>
			  	            <%= post.comments.count %>
			            </td>
			            <td>
			                <%= link_to "詳細画面" ,post_path(post.id) %>
			            </td>
			        </tr>
		          <% end %>
		         </tbody>
	        </table>
     </div>
     <div class="row">
 	     <div class="text-center">
 		   <%= paginate @posts %>
 	     </div>
     </div>
  </div>
</div>

<%#= form_tag(posts_path, :method => 'get') do %>
         <%#= select_tag(:sort, options_for_select([["評価の低い順","low_star"],["評価の高い順","high_star"],["いいねの少ない順","low_ranking"],["いいねの多い順","high_ranking"]]))%>
          <%#= submit_tag '検索' %>
     <%# end %>