<div class="post-show-body">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>
	<div class="container">
	  <h1 class="detail-title">投稿詳細</h1>
		<div class="row center-block">
			<!-- <div class="col-xs-7"> -->
				<span class="label label-primary">投稿者:<%= @user.name %></span>
				<span class="label label-primary">地域名:<%= @area.name %></span>
				<span class="label label-primary">投稿日時:<%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
			  <div class="evaluation">
				<span>投稿評価：<%= @post.score %></span>
				<span class="star"></span>
			  </div>
			  <div class="edit-destroy-button adjustment">
				  <% if @user == current_user %>
				   <span class="edit-button adjustment">
				   <%= link_to "編集", edit_post_path(@post.id), class:"btn btn-success btn-sm" %>
		    		</span>
					<span class="destroy-button">
						<%= link_to "削除", post_path(@post.id),"data-confirm"=>"本当に削除しますか?", class:"btn btn-danger btn-sm", method: :delete %>
					</span>
				  <% end %>
			   </div>
	    </div>

        <div class="adjustment center-block">
		    <div class="panel panel-warning">
	          <div class="panel-heading">
	            <%= @post.title %>
	           </div>
	           <div class="panel-body">
	            <%= @post.caption %>
	           </div>
	        </div>
	    </div>
	    <div class="row text-center">
	       <% @images.each do |image| %>
	       <%= attachment_image_tag image, :image, format: 'jpeg', size:'310x310' %>
	       <% end %>
	    </div>
	    <div class="center-block">
             <div class="adjustment">
                 <div class="panel panel-info">
				 <div class="panel-heading comment-index">
				  コメント一覧
			     </div>
			     <% unless @post.comments.empty? %>
			     <div class="panel-body">
	              <table class="table table-hover comment-table">
				  <% @post.comments.each do |comment| %>
				  <tr>
					  <td>
						   <%=link_to user_path(comment.user.id) do %>
					  	   <%=attachment_image_tag comment.user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg" %>
					  	   <%= comment.user.name %>
					  	   <% end %>
					  </td>
					  <td>
						  <%= comment.comment %>
					   </td>
					      <% if comment.user == current_user %>
					   <td>
					      <%=link_to "" , post_comment_path(comment.post, comment),method: :delete,"data-confirm"=>"本当に削除しますか?", class:"glyphicon glyphicon-trash" %>
					    </td>
					      <% end %>
				    </tr>
				   <% end %>
			      </table>
			     </div>
			    <% end %>
			    </div>
			    </div>
			    <!-- </div> -->
              <% if user_signed_in? %>
			   <%=form_for [@post, @comment] do |f| %>
			   <%=f.text_area :comment, class:"btn-block" %>
			   <div class="adjustment">
			    <%=f.submit "コメント投稿",class: "btn btn-primary" %>
		      </div>
			  <% end %>

			  <%# if user_signed_in? %>

			  　<% if @post.favorited_by?(current_user) %>
			  <!-- 　<div class="adjustment"> -->
					<%= link_to post_favorites_path(@post.id), method: :delete do %>
                    <span class="glyphicon glyphicon-heart"></span>
                    <%= @post.favorites.count %>件
                    <% end %>
                    <% else %>
                    <%= link_to post_favorites_path(@post.id), method: :post do %>
                    <span class="glyphicon glyphicon-heart-empty"></span>
                    <%= @post.favorites.count %>件
                    <% end %>
                <!-- </div> -->
              　<% end %>
			<!-- </div> -->
			　 <% end %>
		</div>

		<div class="row center-block">
			<div id="map"></div>

			<div class="googlemap_rink">もっと<%= @area.name %>について知りたい方は
				<a href="https://www.google.co.jp/maps/place/<%= @area.postal_code %>">こちら</a>(市境・ルート検索等)をクリック
			</div>
		</div>
	</div>
</div>
<!-- </div> -->


<script>
	$('.star').raty({
   size: 36, // 星のサイズ
   score: "<%= @post.score %>",//数値の代入
   starOff: "<%=asset_path('star-off.png')%>",// 星なし
   starOn: "<%=asset_path('star-on.png')%>",//星有り
   starHalf: "<%=asset_path('star-half.png')%>",// 星半分
   scoreName: 'review[score]',
   half: true,// 星の半分の入力を実行
   readOnly: true, //星の評価を固定化
 });

</script>




<!-- <h2>gmap</h2> -->
<!-- <div id='map'></div> -->

<style>
#map {
  height: 300px;
  width: 300px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()
  var lat = <%= @cordinates[0] %>;
  var lng = <%= @cordinates[1] %>;
  var styles = [
  {
    stylers: [
    ]
  }
  ,{
    featureType: "administrative.locality",
    elementType: "geometry.stroke",
    stylers: [
      { color: "#FF643D" },
      {
        "weight": 4
      }
    ]
  }
];
// lat:緯度  lng:経度
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: lat, lng: lng},
    zoom: 16,
    styles: styles
  });

  // marker = new google.maps.Marker({
    // position:  {lat: 40.7828, lng:-73.9653},
    // map: map
  // });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLEMAP_API_KEY']%>&callback=initMap" async defer></script>

