<!DOCTYPE html>
<html>
  <head>
    <title>WeloveIchikawacity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/429a0092f6.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- <div class="container"> -->
      <div class="header-test">
        <!-- <p id="notice"></p> -->
     <%= render 'layouts/header'%>
      </div>
      <!-- <p id="notice"> -->
        <%#= notice %>
      <!-- </p> -->
      <main class="main">
        <%= yield %>
        <footer class="fixed-bottom">
          <div class="footer-logo">
              <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-6">
                  <div id="footer-area">©WeloveIchikawacity</div>
                </div>
                <div class="col-xs-3"></div>
              </div>
          </div>
        </footer>
      </main>
  </body>

</html>
